<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="AdventOfCode - Day 1">
            <directory>./tests/Day1</directory>
        </testsuite>
        <testsuite name="AdventOfCode - Day 2">
            <directory>./tests/Day2</directory>
        </testsuite>
        <testsuite name="AdventOfCode - Day 3">
            <directory>./tests/Day3</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
